{#-
    boilerplate/categories.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Sidebar list of all categories.

    :copyright: Copyright 2012 by Iñigo Serna
    :copyright: Copyright 2011-2019 by Vlad Riscutia and contributors (see
    CONTRIBUTORS file)
    :license: FreeBSD, see LICENSE file
-#}

<div class="widget">
    <h1>{{ text_categories }}</h1>
    <ul>
      {%- for category, count in categories|dictsort -%}
        <li><a href="{{ pathto('categories/' + catlinks[category]) }}">{{ category }}</a> ({{ count }})</li>
      {%- endfor -%}
    </ul>
</div>
