{#-
    boilerplate/searchbox.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~

    Sidebar search box.

    :copyright: Copyright 2011-2019 by Vlad Riscutia and contributors (see
    CONTRIBUTORS file).
    :license: FreeBSD, see LICENSE file
-#}

<div class="widget" id="searchbox" role="search">
    <h1><a href="#searchbox">{{ _('Search') }}</a></h1>
    <form action="{{ pathto('search') }}" method="get">
        <input type="text" name="q" />
        <button type="submit"><span class="fa fa-search"></span></button>
    </form>
</div>
